@model BLL.App.DTO.Category

@{
    ViewData["Title"] = @Resources.Views.Index.CreDelDetEdiInd.Create;
}

<h1>@Resources.Views.Index.CreDelDetEdiInd.Create</h1>

<h4>@Resources.Views.Index.CreDelDetEdiInd.Category</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <partial name="Shared/_CreateEdit"/>
            <div class="form-group">
                <input type="submit" value=@Resources.Views.Index.CreDelDetEdiInd.Edit class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Views.Index.CreDelDetEdiInd.Back</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}