@model BLL.App.DTO.Address

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="County" class="control-label"></label>
    <input asp-for="County" class="form-control"/>
    <span asp-validation-for="County" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="City" class="control-label"></label>
    <input asp-for="City" class="form-control"/>
    <span asp-validation-for="City" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Street" class="control-label"></label>
    <input asp-for="Street" class="form-control"/>
    <span asp-validation-for="Street" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="BuildingNumber" class="control-label"></label>
    <input asp-for="BuildingNumber" class="form-control"/>
    <span asp-validation-for="BuildingNumber" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Apartment" class="control-label"></label>
    <input asp-for="Apartment" class="form-control"/>
    <span asp-validation-for="Apartment" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Comment" class="control-label"></label>
    <input asp-for="Comment" class="form-control"/>
    <span asp-validation-for="Comment" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>