<template>
    <header class="bg-primary py-5 mb-5">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12 px-5">
                    <h1 class="display-4 text-white font-weight-bold mt-5 mb-2 p-3">Quiz Application</h1>
                    <p class="lead text-white-50 px-3">Simple quiz/poll application built using Aurelia framework and TypeScript. Made as a part of practical task in Distributed System (ICD0009), JavaScript (ICD0006) and ASP.NET Web Applications (ICD0015) exams. </p>
                    <p class="lead mb-5 text-white-50 px-3">All rights reserved.</p>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-5">
                <h2>Task description</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
                <a class="btn btn-primary btn-lg" href="https://gitlab.cs.ttu.ee/arpahh/icd0009-2019s">Source code &raquo;</a>
            </div>
            <div class="col-md-4 mb-5">
                <h2>Authors</h2>
                <hr>
                <address class="font-weight-light">
                    <strong>Artjom Pahhomov</strong>
                    <br>186042IADB
                    <br><span class="font-italic">Specialization: </span>front-end
                    <br>
                </address>
                <address class="font-weight-light">
                    <strong>Andrei Gužovski</strong>
                    <br>IADB185818
                    <br><span class="font-italic">Specialization: </span>back-end
                    <br>
                </address>
            </div>
        </div>
    </div>
</template>
