@model Domain.AbsenceReason

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="StudentId" class="control-label"></label>
    <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
</div>
<div class="form-group">
    <label asp-for="CreatorId" class="control-label"></label>
    <select asp-for="CreatorId" class="form-control" asp-items="ViewBag.CreatorId"></select>
</div>
<div class="form-group">
    <label asp-for="From" class="control-label"></label>
    <input asp-for="From" class="form-control"/>
    <span asp-validation-for="From" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="To" class="control-label"></label>
    <input asp-for="To" class="form-control"/>
    <span asp-validation-for="To" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Created" class="control-label"></label>
    <input asp-for="Created" class="form-control"/>
    <span asp-validation-for="Created" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Text" class="control-label"></label>
    <input asp-for="Text" class="form-control"/>
    <span asp-validation-for="Text" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="IsAccepted"/> @Html.DisplayNameFor(model => model.IsAccepted)
    </label>
</div>
<div class="form-group">
    <label asp-for="CreatedBy" class="control-label"></label>
    <input asp-for="CreatedBy" class="form-control"/>
    <span asp-validation-for="CreatedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CreatedAt" class="control-label"></label>
    <input asp-for="CreatedAt" class="form-control"/>
    <span asp-validation-for="CreatedAt" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ChangedBy" class="control-label"></label>
    <input asp-for="ChangedBy" class="form-control"/>
    <span asp-validation-for="ChangedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ChangedAt" class="control-label"></label>
    <input asp-for="ChangedAt" class="form-control"/>
    <span asp-validation-for="ChangedAt" class="text-danger"></span>
</div>