@model WebApp.ViewModels.UserManagerDetailsDeleteViewModel

@{
    ViewData["Title"] = @Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Delete;
}

<h1>@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Delete</h1>

<h3>@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.AreYouSure</h3>
<div>
    <partial name="Shared/_DetailsDelete"/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="User.Id"/>
        <input type="submit" value=@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Delete class="btn btn-danger"/> |
        <a asp-action="Index">@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Back</a>
    </form>
</div>