@model ItemCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Item.Name" class="control-label"></label>
    <input asp-for="Item.Name" class="form-control"/>
    <span asp-validation-for="Item.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Item.PictureLink" class="control-label"></label>
    <input asp-for="Item.PictureLink" class="form-control"/>
    <span asp-validation-for="Item.PictureLink" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Item.Price" class="control-label"></label>
    <input asp-for="Item.Price" class="form-control"/>
    <span asp-validation-for="Item.Price" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Item.Description" class="control-label"></label>
    <input asp-for="Item.Description" class="form-control"/>
    <span asp-validation-for="Item.Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Item.RestaurantId" class="control-label">@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Restaurant</label>
    <select asp-for="Item.RestaurantId" class="form-control" asp-items="Model.Restaurants"></select>
</div>