@model WebApp.ViewModels.ItemInTypeCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="ItemInType.ItemTypeId" class="control-label"></label>
    <select asp-for="ItemInType.ItemTypeId" class="form-control" asp-items="Model.ItemTypes"></select>
</div>
<div class="form-group">
    <label asp-for="ItemInType.ItemId" class="control-label"></label>
    <select asp-for="ItemInType.ItemId" class="form-control" asp-items="Model.Items"></select>
</div>
<div class="form-group">
    <label asp-for="ItemInType.CreatedBy" class="control-label"></label>
    <input asp-for="ItemInType.CreatedBy" class="form-control"/>
    <span asp-validation-for="ItemInType.CreatedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ItemInType.CreatedAt" class="control-label"></label>
    <input asp-for="ItemInType.CreatedAt" class="form-control"/>
    <span asp-validation-for="ItemInType.CreatedAt" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ItemInType.ChangedBy" class="control-label"></label>
    <input asp-for="ItemInType.ChangedBy" class="form-control"/>
    <span asp-validation-for="ItemInType.ChangedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ItemInType.ChangedAt" class="control-label"></label>
    <input asp-for="ItemInType.ChangedAt" class="form-control"/>
    <span asp-validation-for="ItemInType.ChangedAt" class="text-danger"></span>
</div>