@model BLL.App.DTO.ItemInType

<h4>ItemInType</h4>
<hr/>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ItemType)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ItemType.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Item)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Item.Name)
    </dd>
</dl>