@model DAL.App.DTO.Choice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <partial name="_Shared/_DetailsDelete"/>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Questions" asp-action="Details" asp-route-id="@Model.QuestionId">Back to Question</a>
</div>