<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Orders" asp-action="Index">@Resources.Views.Shared._Layout.Orders</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="OrderRows" asp-action="Index">@Resources.Views.Shared._Layout.OrderRows</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="OrderItemChoices" asp-action="Index">@Resources.Views.Shared._Layout.OrderItemChoices</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Addresses" asp-action="Index">@Resources.Views.Shared._Layout.Addresses</a>
</li>