@model PersonFormCreateEditViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="PersonForm.FormId" class="control-label"></label>
    <select asp-for="PersonForm.FormId" class="form-control" asp-items="Model.Forms"></select>
</div>
<div class="form-group">
    <label asp-for="PersonForm.FormRoleId" class="control-label"></label>
    <select asp-for="PersonForm.FormRoleId" class="form-control" asp-items="Model.FormRoles"></select>
</div>
<div class="form-group">
    <label asp-for="PersonForm.PersonId" class="control-label"></label>
    <select asp-for="PersonForm.PersonId" class="form-control" asp-items="Model.Persons"></select>
</div>
<div class="form-group">
    <label asp-for="PersonForm.From" class="control-label"></label>
    <input asp-for="PersonForm.From" class="form-control"/>
    <span asp-validation-for="PersonForm.From" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PersonForm.To" class="control-label"></label>
    <input asp-for="PersonForm.To" class="form-control"/>
    <span asp-validation-for="PersonForm.To" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PersonForm.CreatedBy" class="control-label"></label>
    <input asp-for="PersonForm.CreatedBy" class="form-control"/>
    <span asp-validation-for="PersonForm.CreatedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PersonForm.CreatedAt" class="control-label"></label>
    <input asp-for="PersonForm.CreatedAt" class="form-control"/>
    <span asp-validation-for="PersonForm.CreatedAt" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PersonForm.ChangedBy" class="control-label"></label>
    <input asp-for="PersonForm.ChangedBy" class="form-control"/>
    <span asp-validation-for="PersonForm.ChangedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PersonForm.ChangedAt" class="control-label"></label>
    <input asp-for="PersonForm.ChangedAt" class="form-control"/>
    <span asp-validation-for="PersonForm.ChangedAt" class="text-danger"></span>
</div>