@model WebApp.ViewModels.ItemOptionCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="ItemOption.Name" class="control-label"></label>
    <input asp-for="ItemOption.Name" class="form-control"/>
    <span asp-validation-for="ItemOption.Name" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="ItemOption.IsRequired"/> @Html.DisplayNameFor(model => model.ItemOption.IsRequired)
    </label>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="ItemOption.IsSingle"/> @Html.DisplayNameFor(model => model.ItemOption.IsSingle)
    </label>
</div>
<div class="form-group">
    <label asp-for="ItemOption.ItemId" class="control-label"></label>
    <select asp-for="ItemOption.ItemId" class="form-control" asp-items="ViewBag.ItemId"></select>
</div>