<template>
    <div class="container">
        <require from="../../components/alert"></require>
        <alert alert-data.bind="_alert"></alert>
        <div>
            <a class="d-flex btn px-4 btn-secondary position-absolute" route-href="route: restaurants-index;">Back to List</a>
        </div>
        <div class="text-center">
            <h2 class="m-4 font-weight-bold">${_restaurant.name}</h2>
        </div>
        <div class="container my-5">
            <h4 class="m-4 font-weight-bold">Your Categories</h4>
            <div class="card my-4" repeat.for="itemType of _restaurant.itemTypes">
                <div class="card-header text-left ${itemType.isSpecial ? 'alert-success' : ''}">
                    <h6 if.bind="itemType.isSpecial" class="position-absolute m-3" style="top: 0; right: 0">Special offer!</h6>
                    <a href="#" data-target="${'#' + itemType.name + itemType.id}" data-toggle="collapse">
                        <h3>${itemType.name}</h3>
                    </a>
                    <p>${itemType.description}</p>
                    <div class="ml-auto my-auto pull-right">
                        <div class.bind="(_isItemTypeEdited || _isEdited || _isItemEdited) ? 'invisible' : ''">
                            <button class="btn btn-success btn-circle btn-circle-sm rounded-circle text-white shadow-none" click.delegate="editCategories(itemType.id, itemType.items)"><span class="fa fa-plus"></span></button>
                            <button class="btn btn-info mx-2 btn-circle btn-circle-sm rounded-circle text-white shadow-none" click.delegate="itemTypeInputMode(true, itemType)"><span class="fa fa-pencil"></span></button>
                            <button class="btn btn-danger btn-circle btn-circle-sm rounded-circle text-white shadow-none"  click.delegate="deleteItemType(itemType.id)"><span class="fa fa-trash"></span></button>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="${itemType.name + itemType.id}">
                    <ul class="list-group list-group-flush">
                        <li class="d-flex align-items-center list-group-item" repeat.for="itemView of itemType.items">
                            <div class="p-2 mx-3 text-left">
                                <div>${itemView.name}</div>
                                <div class="font-weight-bold">${itemView.price.toFixed(2)}€</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <button class.bind="(_isItemTypeEdited || _isEdited || _isItemEdited) ? 'invisible' : ''" class="btn btn-success btn-circle btn-circle-sm text-white shadow-none px-3" click.delegate="itemTypeInputMode(true, null)"><span class="fa fa-plus mr-2"></span>Add Categories</button>
        </div>
        <div class="container my-5">
            <h4 class="m-4 font-weight-bold">Your Products</h4>
            <ul class="list-group list-group-flush my-4">
                <li repeat.for="item of _items" class="d-flex align-items-center list-group-item">
                    <div class="p-2 mx-3 text-left w-25">
                        <div>${item.name}</div>
                        <div class="font-weight-bold">${item.price.toFixed(2)}€</div>
                    </div>
                    <div class="text-left w-50">
                        <div class="font-italic font-weight-light" if.bind="item.description">Description:</div>
                        <div class="font-weight-light">${item.description}</div>
                    </div>
                    <div class.bind="(_isItemTypeEdited || _isEdited || _isItemEdited) ? 'invisible' : ''" class="ml-auto p-2 px-4">
                        <button class="btn btn-info mx-2 btn-circle btn-circle-sm rounded-circle text-white shadow-none" click.delegate="itemInputMode(true, item)"><span class="fa fa-pencil"></span></button>
                        <button class="btn btn-danger btn-circle btn-circle-sm rounded-circle text-white shadow-none"  click.delegate="deleteItem(item.id)"><span class="fa fa-trash"></span></button>
                    </div>
                </li>
            </ul>
            <button class.bind="(_isItemTypeEdited || _isEdited || _isItemEdited) ? 'invisible' : ''" class="btn btn-success btn-circle btn-circle-sm text-white shadow-none px-3" click.delegate="itemInputMode(true, null)"><span class="fa fa-plus mr-2"></span>Add Products</button>
        </div>
        <div>
            <div if.bind="_isEdited" class="container p-3 fixed-bottom bg-white border border-dark">
                <div class="form-check mx-3 row">
                    <label repeat.for="item of _items" class="form-check-label col-md-4 col-lg-3">
                        <input type="checkbox" class="form-check-input" model.bind="item.id" checked.bind="_selected">
                        ${item.name}
                    </label>
                </div>
                <div class="d-flex mt-3 btn-group">
                    <button type="button" class="btn btn-danger shadow-none font-weight-bold w-50 btn-sm" click.delegate="closeEdit()">Cancel</button>
                    <button type="button" class="btn btn-success shadow-none font-weight-bold w-50 btn-sm" click.delegate="saveEdit()">Save</button>
                </div>
            </div>
            <div if.bind="_isItemTypeEdited" class="container p-3 fixed-bottom bg-white border border-dark">
                <div class="d-flex">
                    <label class="container w-25 text-left">
                        <span class="my-3 font-italic font-weight-light required">Category Name</span>
                        <input type="text" class="form-control font-weight-light shadow-none" value.bind="_itemTypeName" maxlength="100">
                    </label>
                    <label class="container w-75 text-left">
                        <span class="my-3 font-italic font-weight-light">Description</span>
                        <input type="text" class="form-control font-weight-light shadow-none" value.bind="_itemTypeDescription" maxlength="200">
                    </label>
                </div>
                <div class="d-flex w-50 px-4 py-2">
                    <label class="container">
                        <input type="checkbox" class="form-check-input font-weight-light shadow-none" checked.bind="_itemTypeIsSpecial">
                        <span class="font-italic font-weight-light form-check-label">Is this category a special offer?</span>
                    </label>
                </div>
                <div class="d-flex mt-3 btn-group">
                    <button type="button" class="btn btn-danger shadow-none font-weight-bold w-50 btn-sm" click.delegate="itemTypeInputMode(false, null)">Cancel</button>
                    <button type="button" class="btn btn-success shadow-none font-weight-bold w-50 btn-sm" disabled.bind="validateItemType" click.delegate="submitItemType()">Save</button>
                </div>
            </div>
            <div if.bind="_isItemEdited" class="container p-3 fixed-bottom bg-white border border-dark">
                <div class="d-flex">
                    <label class="container w-25 text-left">
                        <span class="my-3 font-italic font-weight-light required">Name</span>
                        <input type="text" class="form-control font-weight-light shadow-none" value.bind="_itemName" maxlength="100">
                    </label>
                    <label class="container w-50 text-left">
                        <span class="my-3 font-italic font-weight-light">Description</span>
                        <input type="text" class="form-control font-weight-light shadow-none" value.bind="_itemDescription" maxlength="200">
                    </label>
                    <label class="container w-25 text-left">
                        <span class="my-3 font-italic font-weight-light">Price</span>
                        <input type="number" class="form-control font-weight-light shadow-none" value.bind="_itemPrice" maxlength="200">
                    </label>
                </div>
                <div class="d-flex mt-3 btn-group">
                    <button type="button" class="btn btn-danger shadow-none font-weight-bold w-50 btn-sm" click.delegate="itemInputMode(false, null)">Cancel</button>
                    <button type="button" class="btn btn-success shadow-none font-weight-bold w-50 btn-sm" disabled.bind="validateItem" click.delegate="submitItem()">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .required:after {
        content:" *";
        color: red;
    }
</style>
