@model DependenceCreateEditViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Dependence.ParentId" class="control-label"></label>
    <select asp-for="Dependence.ParentId" class="form-control" asp-items="Model.Parents"></select>
</div>
<div class="form-group">
    <label asp-for="Dependence.ChildId" class="control-label"></label>
    <select asp-for="Dependence.ChildId" class="form-control" asp-items="Model.Children"></select>
</div>
<div class="form-group">
    <label asp-for="Dependence.DependenceTypeId" class="control-label"></label>
    <select asp-for="Dependence.DependenceTypeId" class="form-control" asp-items="Model.Types"></select>
</div>
<div class="form-group">
    <label asp-for="Dependence.From" class="control-label"></label>
    <input asp-for="Dependence.From" class="form-control"/>
    <span asp-validation-for="Dependence.From" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Dependence.To" class="control-label"></label>
    <input asp-for="Dependence.To" class="form-control"/>
    <span asp-validation-for="Dependence.To" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Dependence.CreatedBy" class="control-label"></label>
    <input asp-for="Dependence.CreatedBy" class="form-control"/>
    <span asp-validation-for="Dependence.CreatedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Dependence.CreatedAt" class="control-label"></label>
    <input asp-for="Dependence.CreatedAt" class="form-control"/>
    <span asp-validation-for="Dependence.CreatedAt" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Dependence.ChangedBy" class="control-label"></label>
    <input asp-for="Dependence.ChangedBy" class="form-control"/>
    <span asp-validation-for="Dependence.ChangedBy" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Dependence.ChangedAt" class="control-label"></label>
    <input asp-for="Dependence.ChangedAt" class="form-control"/>
    <span asp-validation-for="Dependence.ChangedAt" class="text-danger"></span>
</div>