@model AnswersCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Answer.ChoiceId" class="control-label"></label>
    <select asp-for="Answer.ChoiceId" class="form-control" asp-items="Model.Choices">
        <option selected="selected" value="">Please Select</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="Answer.QuizSessionId" class="control-label"></label>
    <select asp-for="Answer.QuizSessionId" class="form-control" asp-items="Model.QuizSessions">
        <option selected="selected" value="">Please Select</option>
    </select>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input type="checkbox" class="form-check-input" asp-for="Answer.IsCorrect"/> @Html.DisplayNameFor(model => model.Answer.IsCorrect)
    </label>
</div>