@using Resources.Views.Shared._Layout
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Orders" asp-action="Index">@_Layout.Orders</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="OrderRows" asp-action="Index">@_Layout.OrderRows</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="OrderItemChoices" asp-action="Index">@_Layout.OrderItemChoices</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Addresses" asp-action="Index">@_Layout.Addresses</a>
</li>