@model WebApp.ViewModels.WorkingHoursCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="WorkingHours.WeekDay" class="control-label"></label>
    <select asp-for="WorkingHours.WeekDay" class="form-control" asp-items="Html.GetEnumSelectList<DayOfWeek>()">
        <option selected="selected" value="">Please select</option>
    </select>
    <span asp-validation-for="WorkingHours.WeekDay" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="WorkingHours.OpeningTime" class="control-label"></label>
    <input asp-for="WorkingHours.OpeningTime" class="form-control"/>
    <span asp-validation-for="WorkingHours.OpeningTime" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="WorkingHours.ClosingTime" class="control-label"></label>
    <input asp-for="WorkingHours.ClosingTime" class="form-control"/>
    <span asp-validation-for="WorkingHours.ClosingTime" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="WorkingHours.RestaurantId" class="control-label"></label>
    <select asp-for="WorkingHours.RestaurantId" class="form-control" asp-items="Model.Restaurants"></select>
</div>