@model WebApp.ViewModels.NutritionInfoCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="NutritionInfo.ItemId" class="control-label">@Resources.Views.CreDelDetEdiInd.CreDelDetEdiInd.Item</label>
    <select asp-for="NutritionInfo.ItemId" class="form-control" asp-items="Model.Items"></select>
</div>
<div class="form-group">
    <label asp-for="NutritionInfo.Name" class="control-label"></label>
    <input asp-for="NutritionInfo.Name" class="form-control"/>
    <span asp-validation-for="NutritionInfo.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="NutritionInfo.Amount" class="control-label"></label>
    <input asp-for="NutritionInfo.Amount" class="form-control"/>
    <span asp-validation-for="NutritionInfo.Amount" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="NutritionInfo.Unit" class="control-label"></label>
    <input asp-for="NutritionInfo.Unit" class="form-control"/>
    <span asp-validation-for="NutritionInfo.Unit" class="text-danger"></span>
</div>