@{
    ViewData["Title"] = @Resources.Views.Home.Index.HomePage;
}

<div class="text-center">
    <h1 class="display-4">@Resources.Views.Home.Index.Welcome</h1>
    <p>@Resources.Views.Home.Index.Learn<a href="https://docs.microsoft.com/aspnet/core">@Resources.Views.Home.Index.Building</a>.</p>
</div>