@using Index = Resources.Views.Home.Index.Index
@{
    ViewData["Title"] = Index.HomePage;
}

<div class="text-center">
    <h1 class="display-4">@Index.Welcome</h1>
    <p>@Index.Learn<a href="https://docs.microsoft.com/aspnet/core">@Index.Building</a>.</p>
</div>