@model ChoicesCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Choice.Value" class="control-label"></label>
    <input asp-for="Choice.Value" class="form-control"/>
    <span asp-validation-for="Choice.Value" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Choice.QuestionId" class="control-label"></label>
    <select asp-for="Choice.QuestionId" class="form-control" asp-items="Model.Questions">
        <option selected="selected" value="">Please Select</option>
    </select>
</div>