@model ChoicesCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Choice.Value" class="control-label"></label>
    <input asp-for="Choice.Value" class="form-control"/>
    <span asp-validation-for="Choice.Value" class="text-danger"></span>
</div>
<input type="hidden" asp-for="Choice.QuestionId"/>