@model BLL.App.DTO.Address

@{
    ViewData["Title"] = @Resources.Views.Index.CreDelDetEdiInd.Details;
}

<h1>Details</h1>

<div>
    <partial name="Shared/_DetailsDelete"/>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Resources.Views.Index.CreDelDetEdiInd.Edit</a> |
    <a asp-action="Index">@Resources.Views.Index.CreDelDetEdiInd.Back</a>
</div>